<!-- Another panel for color box and reserve button -->
<div class="panel panel-default" ng-hide="select_hide">
    <div class="panel-heading">
        <form  class="form-horizontal">
            <div class="form-group" style="text-align:right;">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <span class="user_reserved_slot">&nbsp;&nbsp;&nbsp;&nbsp;</span> User Reserved Slot
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <span class="other_reserved_slot ">&nbsp;&nbsp;&nbsp;&nbsp;</span> Other Reserved Slot
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-4 col-sm-offset-6 col-md-offset-6 col-lg-offset-6">
                    <button type="button" class="btn btn-success" ng-click="calendar.reserve_slots();"><span class="glyphicon glyphicon-ok"></span>&nbsp;Reserve</button>
                </div>
            </div>
      </form>
</div>
 <div class="panel-body">

    <span class="select_box">
            <select ng-model="calendar.period">
                <option value="am">am</option>
                <option value="pm">pm</option>
            </select>
    </span>
<!-- table marker and table block -->
<table ng-if="calendar.blades.length > 0" ondragstart="return false;" ondrop="return false;">
    <thead>
        <tr>
            <th ></th>
            <th class="calendar_header calendar_time_marker"></th>
            <th class="calendar_header calendar_left_spacer" ng-repeat-start="blade in calendar.blades">&nbsp;</th>
            <th class="calendar_header calendar_time_slot" ng-repeat-end>{{blade.name}}{{":"}}{{blade.hostname}}</th>
        </tr>
    </thead>
    <tbody>

     <tr ng-repeat="n in range(-1,49)" ng-mousedown="calendar.mouse_down();" ng-mouseup="calendar.mouse_up()" >

        <td rowspan="2" class="calendar_time_text calendar_not_selectable"  ng-if="(n % 2 == 1) || (n == -1)">
            <div ng-if="n == -1" class="calendar_time_text_hour">{{calendar.time_slots[47]}} {{calendar.period}}</div>
            <div ng-if="(n % 4 == 3) && (n != -1)" class="calendar_time_text_hour">{{calendar.time_slots[n]}} {{calendar.period}}</div>
            <div ng-if="n % 4 == 1" class="calendar_time_text_half_hour">{{calendar.time_slots[n]}} {{calendar.period}}</div>
        </td>
        <td class="calendar_time_marker calendar_bottom_border calendar_right_border calendar_not_selectable" rowspan="2" ng-if="((n % 2 == 0) && (n != 48)) || (n == 0)"></td>
        <td class="calendar_time_marker calendar_right_border calendar_not_selectable" ng-if="n == 48"></td>
        <td class="calendar_time_marker calendar_right_border calendar_bottom_border calendar_not_selectable" ng-if="n == -1"></td>


        <td class="calendar_left_spacer calendar_not_selectable" ng-repeat-start="blade in calendar.blades">&nbsp;</td>

        <td ng-mouseenter="calendar.add_drag_slot(n, blade);"  ng-click="calendar.add_slot(n, blade)" ng-class="calendar.time_slot_class(n, blade);" ng-repeat-end><span class="calendar_name_label" ng-if="calendar.label_mark(n,blade)">{{calendar.label_mark(n,blade)}}</span></td>
    </tr>
</tbody>
</table>
</div>
</div>
