.footer
        {
            bottom : 0;
            width : 100%;
            height : 60px;
            position: inherit;
            /*background-color:#f5f5f5;*/
        }
.pull-middle
{
    text-align: center;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default {
    background: url("/static/assets/images/background.png");
    border-color: #3FADC7;
    border-radius: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.full {
    background: url("/static/assets/images/escheresque.png");
}

.table_bg {
    background: #f3f3f3;
}

.page-header_border {
    border-color: #939393;
}

.custom-content {

}


@keyframes fadeIn{
    from { opacity: : 0; }
    to { opacity: 1 ;}
}

@keyframes fadeOut{
    from { opacity: : 1; }
    to { opacity: 0 ;}
}
.custom-content.ng-enter { 
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-duration: 0.5s;
}

.custom-content.ng-leave { 
    opacity: 0;
}