.list_icon_status {
  text-align: center;
}

.list_icon_gray {
  color: gray;
  font-size: 1.5em;
}

.list_icon_green {
  color: green;
  font-size: 1.5em;
}

.list_icon_blue {
  color: blue;
  font-size: 1.5em;
}


.drop > ul > li
{
	display : none;
} 	

.drop:hover  ul > li
{
	display : inline-block;
	padding-top : 7px;
	background-color: lightyellow;
}

/*.drop  a:hover
{
	background : lightblue;
}
*/
.drop > li
{
	list-style : none;
}

.background
{
	/*background-color : #b3b3b3;*/
}


.some_padding
{
	margin-bottom: 20px;
}

.table_bg_more
{
	margin-bottom:100px;
}